<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security - OAuth 2.0 Login</title>
    <meta charset="utf-8" />
</head>
<body>
<div style="float: right" th:fragment="logout" sec:authorize="isAuthenticated()">
    <div style="float:left">
        <span style="font-weight:bold">User: </span>${user}<span sec:authentication="name"></span>
    </div>
</div>
<h1>OAuth 2.0 Login with Spring Security</h1>
<div>&nbsp;</div>
<div sec:authorize="isAnonymous()">
    <a href="/login" th:href="@{/login}">Login</a>
</div>
</body>
</html>